@use './_normalize.scss';
@use './variables' as v;

.container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  & span,
  a {
    color: #001f30;
  }
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .worldCounter {
    .count {
      font-size: 64px;
      font-weight: bold;
    }
    .title {
      font-size: 20px;
    }
  }
  .myCounter {
    .gif {
      width: 220px;
      padding: 5px;
      user-select: none;
      -webkit-user-drag: none;
      -webkit-tap-highlight-color: transparent;
      filter: grayscale(100%);
      transition: 0.3s;
      &:hover {
        cursor: pointer;
        filter: none;
      }
    }
    .counter {
      font-size: 18px;
      .title {
        font-weight: bold;
      }
    }
  }
  .desc {
    & > span a {
      text-decoration: underline;
    }
    .channel {
      font-size: 18px;
    }
    .createdBy {
      font-size: 12px;
    }
  }
  & :global(.linkWrapper) {
    position: absolute;
    left: 50px;
    top: 30px;
    .link {
      .linkContainer {
        display: flex;
        align-items: center;
        gap: 14px;
        .arrow {
          rotate: 180deg;
        }
        span {
          transition: margin 0.1s ease-in-out;
        }
      }
      & :global(.linkTitle) {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.2;
      }
      &:hover {
        cursor: pointer;
        span {
          margin-left: 7px;
        }
      }
    }
    @media (max-width: 500px) {
      left: 30px;
      top: 20px;
    }
  }
}

.linkBtn {
  border-radius: 20px;
  padding: 12px 22px;
  width: 120px;
  height: 45px;
  background: #fff;
  position: relative;
  .linkContainerAbsolute {
    position: absolute;
  }
}
